<h1>Listing pessoa_tipos</h1>

<table>
  <tr>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pessoa_tipos.each do |pessoa_tipo| %>
  <tr>
    <td><%= pessoa_tipo.nome %></td>
    <td><%= link_to 'Show', pessoa_tipo %></td>
    <td><%= link_to 'Edit', edit_pessoa_tipo_path(pessoa_tipo) %></td>
    <td><%= link_to 'Destroy', pessoa_tipo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pessoa tipo', new_pessoa_tipo_path %>
