<h1>Listing multas</h1>

<table>
  <tr>
    <th>Pessoa</th>
    <th>Emprestimo</th>
    <th>Total</th>
    <th>Emaberto</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @multas.each do |multa| %>
  <tr>
    <td><%= multa.pessoa %></td>
    <td><%= multa.emprestimo %></td>
    <td><%= multa.total %></td>
    <td><%= multa.emAberto %></td>
    <td><%= link_to 'Show', multa %></td>
    <td><%= link_to 'Edit', edit_multa_path(multa) %></td>
    <td><%= link_to 'Destroy', multa, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Multa', new_multa_path %>
