<p id="notice"><%= notice %></p>

<p>
  <b>Pessoa:</b>
  <%= @multa.pessoa %>
</p>

<p>
  <b>Emprestimo:</b>
  <%= @multa.emprestimo %>
</p>

<p>
  <b>Total:</b>
  <%= @multa.total %>
</p>

<p>
  <b>Emaberto:</b>
  <%= @multa.emAberto %>
</p>


<%= link_to 'Edit', edit_multa_path(@multa) %> |
<%= link_to 'Back', multas_path %>
