<h1>Listing pessoas</h1>

<table>
  <tr>
    <th>Cpf</th>
    <th>Senha</th>
    <th>Pessoatipo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pessoas.each do |pessoa| %>
  <tr>
    <td><%= pessoa.cpf %></td>
    <td><%= pessoa.senha %></td>
    <td><%= pessoa.pessoaTipo.nome %></td>
    <td><%= link_to 'Show', pessoa %></td>
    <td><%= link_to 'Edit', edit_pessoa_path(pessoa) %></td>
    <td><%= link_to 'Destroy', pessoa, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pessoa', new_pessoa_path %>
