<p id="notice"><%= notice %></p>

<p>
  <b>Cpf:</b>
  <%= @pessoa.cpf %>
</p>

<p>
  <b>Senha:</b>
  <%= @pessoa.senha %>
</p>

<p>
  <b>Pessoatipo:</b>
  <%= @pessoa.pessoaTipo.nome %>
</p>


<%= link_to 'Edit', edit_pessoa_path(@pessoa) %> |
<%= link_to 'Back', pessoas_path %>
