<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :autor %><br />
    <%= f.text_area :autor %>
  </div>
  <div class="field">
    <%= f.label :assunto %><br />
    <%= f.text_field :assunto %>
  </div>
  <div class="field">
    <%= f.label :itemTipo %><br />
    <%= f.select :itemTipo_id, @itemTipos.collect { |it| [it.nome, it.id] } %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
