<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @item.nome %>
</p>

<p>
  <b>Autor:</b>
  <%= @item.autor %>
</p>

<p>
  <b>Assunto:</b>
  <%= @item.assunto %>
</p>

<p>
  <b>Itemtipo:</b>
  <%= @item.itemTipo.nome %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
