<%= form_for(@emprestimo) do |f| %>
  <% if @emprestimo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@emprestimo.errors.count, "error") %> prohibited this emprestimo from being saved:</h2>

      <ul>
      <% @emprestimo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pessoa %><br />
    <%= f.text_field :pessoa %>
  </div>
  <div class="field">
    <%= f.label :item %><br />
    <%= f.text_field :item %>
  </div>
  <div class="field">
    <%= f.label :dataDevolucao %><br />
    <%= f.date_select :dataDevolucao %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
