<h1>Listing emprestimos</h1>

<table>
  <tr>
    <th>Pessoa</th>
    <th>Item</th>
    <th>Datadevolucao</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @emprestimos.each do |emprestimo| %>
  <tr>
    <td><%= emprestimo.pessoa %></td>
    <td><%= emprestimo.item %></td>
    <td><%= emprestimo.dataDevolucao %></td>
    <td><%= link_to 'Show', emprestimo %></td>
    <td><%= link_to 'Edit', edit_emprestimo_path(emprestimo) %></td>
    <td><%= link_to 'Destroy', emprestimo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Emprestimo', new_emprestimo_path %>
