<p id="notice"><%= notice %></p>

<p>
  <b>Pessoa:</b>
  <%= @emprestimo.pessoa %>
</p>

<p>
  <b>Item:</b>
  <%= @emprestimo.item %>
</p>

<p>
  <b>Datadevolucao:</b>
  <%= @emprestimo.dataDevolucao %>
</p>


<%= link_to 'Edit', edit_emprestimo_path(@emprestimo) %> |
<%= link_to 'Back', emprestimos_path %>
