<%= form_for(@item_tipo) do |f| %>
  <% if @item_tipo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item_tipo.errors.count, "error") %> prohibited this item_tipo from being saved:</h2>

      <ul>
      <% @item_tipo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
