<h1>Listing item_tipos</h1>

<table>
  <tr>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @item_tipos.each do |item_tipo| %>
  <tr>
    <td><%= item_tipo.nome %></td>
    <td><%= link_to 'Show', item_tipo %></td>
    <td><%= link_to 'Edit', edit_item_tipo_path(item_tipo) %></td>
    <td><%= link_to 'Destroy', item_tipo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item tipo', new_item_tipo_path %>
